.product{
    width: 300px;
    height: 450px;
   
}
.product img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
}
.add-btn{
    width: 100%;
    background-color: tomato;
    border: none;
    color: white;
    padding: 13px 0;
    border-radius: 10px;
    cursor: pointer;
}
@media only screen and  (max-width: 576px) {
    .product{
        width: 100%;
        margin: 10px 0;
    }
    .product img{
        width: 99%;
    }

}