.header-text{
    color: tomato;
    margin: 0;
    padding: 0;
}
.header{
    width:80%;
   display: flex;
  padding-left: 50px;
  padding-top: 20px;
   
}
.header img{
    width: 60px;
}
@media only  screen and (max-width:576px){
    .header{
        padding-left: 10px;
        width: 70%;
        padding-top:30px;
        padding-bottom: 20px;
      
} 
}