.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 100px 50px;
}
.cart-container {
    margin-top: 10px;
}
.cart-container .personal-info img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.personal-info{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.personal-info h4{
    margin-left: 10px;
}
.about{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

@media only screen and (max-width:576px) {
    .shop-container{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .product-container{
        grid-template-columns: 1fr;
        padding: 0;
    }
    /* .cart-container{
        width: 100%;
    } */
    .exercise{
        text-align: center;
    }
    .personal-info{
        display: block;
        text-align: center;
    }
    .break h2{
        text-align: center;
    }
    
}