.break{
    margin-top: 50px;
}
.time{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
}
button{
    border: none;
    cursor: pointer;
}
.time button{
    font-size: 14px;
    font-weight: bold;
}
.time .unique{
    background-color: sandybrown;
    color: white;
    padding: 8px ;
    border-radius: 20px;
}